div#logoImg[id] {
  background-image: url(../img/coremediaC.png);
}

div#logoImg {

  background-repeat: no-repeat;

  background-position: 0 0;

  width: 160px;
  height: 31px;

  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='../img/coremediaC.png');

  border: none;
}
