div#breadcrumb {
  font-size: 11px;
  font-weight: bold;
  color: black;
}

div#breadcrumb div.crumbElement {
  float: left;
}

div#breadcrumb div.crumbElement a {
  text-decoration: underline;
  color: black;
}